.form {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.header_container {
  margin: 0rem 0rem 2rem 0rem;
}

.page_name {
  font-family: var(--summer-of-love-font);
  margin-right: 1.5rem;
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
}

.note {
  font-weight: 600;
  width: 420px;
}

.label,
.label_variant {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.name,
.restrictions,
.send {
  font-family: var(--main-font);
  font-size: 20px;
  display: flex;
  padding: 0.5rem;
  margin-top: 0.2rem;
  border-radius: 5px;
  border: 1px solid var(--foreground);
}

.restrictions {
  height: 120px;
  margin-bottom: 4rem;
}

.name {
  margin-bottom: 3rem;
  width: 400px;
}

.radio_group,
.radio_group_bottom {
  margin-bottom: 3rem;
}

.radio_label {
  margin-right: 2rem;
}

.radio_button {
  margin-right: 0.5rem;
}

.send {
  text-align: center;
  background-color: var(--maroon);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 600;
  color: var(--blush);
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.send:hover {
  color: var(--foreground);
  background-color: var(--rose);
}

.error_container {
  width: 420px;
}

.required_error {
  padding-bottom: 0.5rem;
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .send:hover {
    color: var(--background);
    background-color: var(--button_color_dm);
  }
  .page_name,
  .header,
  .label,
  .radio_label {
    color: #ecd5cd;
  }
}

@media (max-width: 667px) and (hover: none) {
  .page_name {
    display: none;
  }
  .form {
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
  }
  .header_container {
    text-align: left;
    padding-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 100%;
  }
  .note {
    color: #ecd5cd;
    margin: 0rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .label,
  .label_variant {
    color: #ecd5cd;
    width: 220px;
    margin-bottom: 0.2rem;
    text-shadow: 1px 2px 2px #030303;
  }
  .label_variant {
    width: 100%;
  }
  .required_error,
  .required {
    color: #ecd5cd;
  }
  .name,
  .send {
    width: 100%;
  }
  .name {
    margin-bottom: 2rem;
  }
  .radio_group,
  .radio_group_bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
  }
  .radio_group_bottom {
    margin-bottom: 2rem;
  }
  .radio_label {
    color: #ecd5cd;
    margin-bottom: 1rem;
  }
  .send {
    text-align: center;
    margin-bottom: 1rem;
  }
  .send:hover {
    color: var(--blush);
    background-color: var(--maroon);
  }
  .error_container {
    background-color: black;
    text-align: left;
    width: 100%;
    padding: 0rem 1rem 2rem 1rem;
  }
  @media (prefers-color-scheme: dark) {
    .copy {
      color: #ecd5cd;
    }
  }
}
