* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0px solid red;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

nav, footer {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

footer {
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid black;
  padding-bottom: 0rem;
  border-bottom: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 80px;
  font-family: var(--font-geist-sans);
  /* ensure footer stays at the bottom of page*/
  min-height: 100vh; 
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
