* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0px solid red;
}

:root {
  --background: #ffffff;
  --foreground: #262429;

  /* wedding colors */
  --blush: #ecd5cd;
  --maroon: #680a14;
  --lilac: #e3afca;
  --rose: #f69694;
  --orange: #e56829;
  --olive: #ada435;

  --main-font: "Fraunces", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* main text color */
  color: var(--maroon);
  /* main background color*/
  background: var(--blush);
}

/* important for accessibility font reszing */
.appContainer {
  font-size: 1rem;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-size: 2em;
}

p, label {
  font-size: 1.2em;
}

@media (max-width: 667px) {
  h2 {
  font-size: 1.8em;
}
}

/* accessibility font style */
.accessible-font {
  font-family: Arial, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

nav,
footer {
  background-color: #c68da8;
  display: flex;
  flex-direction: row;
  padding: 1rem 0rem 0rem 0rem;
}

footer {
  justify-content: center;
  padding: 2rem 0rem 2rem 0rem;
  border-bottom: none;
  background-color: var(--blush);
  border-top: 1px solid var(--background);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  /* ensure footer stays at the bottom of page*/
  min-height: 100vh;
  margin: 0rem 0rem 4rem 0rem;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

form {
  width: 600px;
  text-align: left;
}

button {
  font-family: var(--main-font);
  padding: 0.5rem;
  border-radius: 5px;
  width: 120px;
}

/* responsive */
@media (max-width: 1300px) {
  nav {
    padding-top: 0rem;
  }
}

@media (max-width: 667px) {
  form {
    width: 90%;
  }
  main {
    margin: 8rem 0rem 4rem 0rem;
  }
}

/* system pref dark mode styling */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --button_color_dm: #ecd5cd;

    --antique_white: #0a0a0a;
    --lilac: #0a0a0a;
    --olive: #0a0a0a;
    --background_color: #0a0a0a;
    --rose: #0a0a0a;
    --blush: #0a0a0a;
    --maroon: #ecd5cd;
  }

  html {
    color-scheme: dark;
  }
  nav {
    background-color: #232227;
  }
}

/* manual theme dark mode toggle */

[data-theme="dark"] html {
  color-scheme: dark;
}

:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --button_color_dm: #ecd5cd;

  --antique_white: #0a0a0a;
  --lilac: #0a0a0a;
  --olive: #0a0a0a;
  --background_color: #0a0a0a;
  --rose: #0a0a0a;
  --blush: #0a0a0a;
  --maroon: #ecd5cd;
}

[data-theme="dark"] nav {
  background-color: #232227;
}

