
.content {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: var(--blush);
  margin-top: 3rem;
  z-index: 1;
}

.welcome {
  align-self: flex-start;
}

.tag {
  font-size: 32px;
  font-weight: 600;
  word-spacing: 0.2em;
  margin-top: 1rem;
}

.date {
  font-size: 24px;
  word-spacing: 0.2em;
  margin: 0.5rem 0rem 4rem 0rem;
}

.icon {
  width: 240px;
  height: auto;
  margin: 6rem 0rem 0rem 0rem;
}

.passcode_container {
  text-align: left;
}

.instructions {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input_section {
  display: flex;
  margin-bottom: 1rem;
}

.input {
  font-size: 20px;
  display: flex;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;

  width: 380px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid var(--background);
}

.submit {
  text-align: center;
  background-color: var(--orange);
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  color: var(--background);
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: none;
  width: 280px;
  cursor: pointer;
}

.submit:hover {
  color: var(--foreground);
  background-color: var(--rose);
}

.error_message {
  align-self: flex-end;
}

.header_photo {
  width: 100vw;
  height: auto;
}

.header_photo_mobile {
  display: none;
}

.icon_mobile {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .date,
  .welcome,
  .instructions,
  .submit,
  .tag {
    color: #ecd5cd;
  }
  .input {
    border: 1px solid var(--orange);
    border-right: none;
  }
  .submit:hover {
    color: #680a14;
    background-color: #f69694;
  }
}

@media (max-width: 667px) {
  .content {
    margin-top: 0rem;
    width: 100%;
  }
  .header_container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0rem 1rem 3rem 1rem;
    top: -200px;
    width: 100%;
    background-color: #0a0808;
    mask-image: linear-gradient(to top, transparent, black 30px);
  }
    .icon {
    width: 160px;
    height: auto;
    margin-bottom: 1rem;
  }
  .tag {
    display: none;
  }
  .date {
    font-size: 26px;
    margin-bottom: 0rem;
    margin-top: 0rem;
    /*word-spacing: 1.3em;*/
  }
  .header_photo {
    display: none;
  }
  .header_photo_mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .passcode_container {
    position: relative;
    width: 100%;
    height: 50vh;
    top: 140px;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #0a0808;
    mask-image: linear-gradient(to bottom, transparent, black 50px);
  }
  .input_section {
    flex-direction: column;
    width: 100%;
  }
  .input,
  .submit {
    width: 100%;
    border-radius: 5px;
  }
  .input {
    margin-bottom: 1rem;
  }
  @media (prefers-color-scheme: dark) {
    .date,
    .tag {
      color: #ecd5cd;
    }
    .input {
      border: 1px solid #ecd5cd;
    }
    .submit:hover {
      color: #680a14;
      background-color: #f69694;
    }
  }
}
