.header_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--blush);
  align-items: center;
  text-align: left;
  margin-top: 3rem;
}

.header {
  align-self: flex-start;
}

.date {
  font-size: 28px;
  word-spacing: 0.2em;
  margin: 0.5rem 0rem 3rem 0rem;
}

.icon {
  width: 240px;
  height: auto;
  margin: 6rem 0rem 0rem 0rem;
}

.instructions {
  margin-bottom: 1rem;
  align-self: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input_section {
  display: flex;
  margin-bottom: 1rem;
}

.input {
  font-size: 20px;
  display: flex;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;

  width: 380px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid var(--background);
}

.submit {
  text-align: center;
  background-color: var(--orange);
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  color: var(--background);
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: none;
  width: 280px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.submit:hover {
  color: var(--foreground);
  background-color: var(--rose);
}

.error_message {
  align-self: flex-end;
}

.header_photo {
  width: 100%;
  height: 100vh;
}

.header_photo_mobile {
  display: none;
}

.icon_mobile {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .date, .header, .instructions, .submit {
  color: #ecd5cd;;
  }
  .input {
    border: 1px solid var(--orange);
    border-right: none;
  }
.submit:hover {
  color: #680a14;
  background-color: #f69694;
}
}

@media (max-width: 667px) {
  .header_container {
    position: initial;
    margin-top: 0rem;
  }
  .date {
    font-size: 20px;
    margin-bottom: 0rem;
  }
  .date, .header, .instructions {
    color: var(--maroon);
  }
  .header_photo {
    display: none;
  }
  .header_photo_mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .icon {
    display: none;
  }
  .icon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--rose);
    padding: 2.5rem;
    border-radius: 150px;
    width: 280px;
    margin-bottom: 2rem;
  }
  .icon_mobile {
    display: block;
    width: 240px;
  height: auto;
  }
  .input_section {
    flex-direction: column;
    width: 100%;
  }
  .input, .submit {
    width: 100%;
    border-radius: 5px;
  }
  .input {
    margin-bottom: 1rem;
  }
  @media (prefers-color-scheme: dark) {
   .icon_container {
    background-color: #f69694;;
  }
  .date {
    color: #680a14
  }
  .input {
    border: 1px solid var(--orange);
    border-right: none;
  }
.submit:hover {
  color: #680a14;
  background-color: #f69694;
}
.input {
  border: none;
}
}
  
}
