.image {
  width: 100vw;
  height: auto;
  margin: 0rem 0rem 1rem 0rem;
}

.image_mobile {
  display: none;
}

.header_container {
  position: absolute;
  align-self: flex-start;
  text-align: left;
  top: 60px;
  width: 500px;
  margin-left: 6rem;
  color: var(--blush);
}

.intro {
  margin-bottom: 1rem;
}

.title {
  color: var(--blush);
  font-family: var(--summer-of-love-font);
  font-size: 90px;
  font-weight: normal;
  word-spacing: 0.1em;
}

.title {
  text-shadow: 5px 0px 5px #030303;
}

.kern {
  letter-spacing: -0.04em;
}
.kern_two {
  letter-spacing: -0.02em;
}

.sub_title {
  font-family: var(--main-font);
  font-weight: 300;
  margin-bottom: 0rem;
}

.date {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 1rem;
}

.copy {
  margin-top: 1rem;
}

.address_container {
  border-bottom: 1px solid #ecd5cd;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  width: 500px;
}

.mobile_note,
.mobile_copy,
.mobile_sub_title {
  display: none;
}

@media (max-width: 1300px) {
  .header_container {
    top: 270px;
  }
}

@media (max-width: 667px) {
  .title,
  .copy,
  .intro,
  .image_mobile,
  .header_container,
  .address_container {
    width: 100%;
  }
  .image,
  .note,
  .copy,
  .sub_title {
    display: none;
  }
  .mobile_sub_title {
    display: block;
    color: #ecd5cd;
  }
  .mobile_note,
  .mobile_copy {
    display: block;
    background-color: black;
    width: 100%;
    text-align: left;
    color: #ecd5cd;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  .mobile_note {
    padding-top: 1rem;
  }
  .mobile_copy {
    padding-bottom: 2rem;
  }
  .image_mobile {
    position: initial;
    display: block;
    margin-top: 8.5rem;
    height: auto;
  }
  .header_container {
    top: -20px;
    align-self: left;
    z-index: 90;
    padding-left: 1rem;
    margin: 0rem 0rem 0rem 0rem;
    color: var(--blush);
  }
  .intro {
    font-size: 22px;
    color: var(--maroon);
    margin-bottom: 0.5rem;
  }
  .title {
    color: var(--maroon);
    font-size: 62px;
    text-shadow: none;
  }
  .date {
    font-weight: 600;
    font-size: 24px;
    margin: 1rem 0rem 1rem 0rem;
  }
  .note {
    margin-bottom: 1rem;
    width: 90%;
  }
  .copy {
    margin-top: 20.5rem;
    position: absolute;
    color: var(--blush);
    width: 100%;
  }
  .address_container {
    border-bottom: none;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    width: 300px;
  }

  @media (prefers-color-scheme: dark) {
    .copy {
      color: #ecd5cd;
    }
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .title,
  .sub_title,
  .copy,
  .date,
  .note {
    color: #ecd5cd;
  }
}

[data-theme="dark"] :is(.title, .sub_title, .copy, .date, .note) {
  color: #ecd5cd;
}
