.image {
  width: 100%;
  height: auto;
  margin: 0rem 0rem 1rem 0rem;
}

.image_mobile {
  display: none;
}

.header_container {
  position: absolute;
  align-self: flex-start;
  text-align: left;
  top: 60px;
  width: 500px;
  margin-left: 6rem;
  color: var(--blush);
}

.intro {
  margin-bottom: 1rem;
}

.title,
.sub_title {
  color: var(--blush);
  font-family: var(--summer-of-love-font);
  font-size: 90px;
  font-weight: normal;
  word-spacing: 0.1em;
}

.title {
  text-shadow: 5px 0px 5px #030303;
}

.sub_title {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 38px;
  margin-bottom: 0rem;
}

.date {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 1rem;
}

.note {
  margin-bottom: 4rem;
}

.copy {
  margin-top: 2rem;
}

.address_container {
  margin-bottom: 2rem;
  width: 500px;
}

@media (max-width: 1300px) {
  .header_container {
    top: 270px;
  }
}

@media (max-width: 667px) {
  .title,
  .copy,
  .intro,
  .image_mobile,
  .header_container,
  .address_container {
    width: 100%;
  }
  .image {
    display: none;
  }
  .image_mobile {
    position: initial;
    display: block;
    margin-top: 8.5rem;
    height: auto;
  }
  .header_container {
    top: -20px;
    align-self: center;
    z-index: 90;
    margin: 0rem 0.5rem 0rem 0.5rem;
    color: var(--blush);
  }
  .intro {
    text-align: center;
    font-weight: 600;
    color: var(--maroon);
    margin-bottom: 0.5rem;
  }
  .title {
    text-align: center;
    color: var(--maroon);
    font-size: 60px;
    text-shadow: none;
  }
  .sub_title {
    color: var(--blush);
    font-size: 20px;
    margin-bottom: 0rem;
  }
  .date {
    font-weight: 600;
    font-size: 24px;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .note {
    font-size: 18px;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .copy {
    position: absolute;
    top: 620px;
    color: var(--blush);
    padding-left: 1rem;
    width: 200px;
  }
  .address_container {
    padding-left: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    .copy {
      color: #ecd5cd;
    }
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .title,
  .sub_title,
  .copy,
  .date {
    color: #ecd5cd;
  }
}

[data-theme="dark"] :is(.title, .sub_title, .copy, .date) {
  color: #ecd5cd;
}
