.contact_form_container {
  text-align: left;
  margin-right: 2rem;
}

.rsvp_button {
  display: none;
}

.header {
  margin: 0rem 0rem 0.5rem 0rem;
}

.sub_header {
  width: 600px;
  margin-bottom: 2rem;
}

.name,
.email,
.message,
.send {
  font-size: 20px;
  display: flex;
  padding: 0.5rem;
  margin: 0.2rem 0rem 1rem 0rem;
  border-radius: 5px;
  border: 1px solid var(--foreground);
  width: 100%;
}

.message {
  height: 120px;
}

.send {
  text-align: center;
  background-color: var(--maroon);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 600;
  color: var(--blush);
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.send:hover {
  color: var(--foreground);
  background-color: var(--rose);
}

.required_error {
  padding-bottom: 0.5rem;
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .send:hover {
    color: var(--background);
    background-color: var(--button_color_dm);
  }
  .name,
  .email,
  .message {
    color: var(--foreground);
    background-color: #3b3840;
  }
}

[data-theme="dark"] :is(.name, .email, .message) {
  color: var(--foreground);
  background-color: #3b3840;
}

[data-theme="dark"] .send {
  color: var(--background);
  background-color: var(--button_color_dm);
}

@media (max-width: 667px) and (hover: none) {
  .contact_form_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 0rem;
  }
  .rsvp_button {
    text-decoration: none;
    text-align: center;
    background-color: var(--maroon);
    color: var(--blush);
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  .header {
    margin-top: 1rem;
  }
  .sub_header {
    margin-bottom: 1rem;
  }
  .name_section {
    display: block;
    flex-direction: column;
    width: 100%;
  }
  .name_container_one {
    margin-bottom: 1rem;
  }
  .name_section,
  .name,
  .email,
  .message,
  .send,
  .sub_header,
  .form {
    width: 100%;
  }
  .send {
    text-align: center;
  }
  .send:hover {
    color: var(--blush);
    background-color: var(--maroon);
  }
  @media (prefers-color-scheme: dark) {
    .copy {
      color: #ecd5cd;
    }
  }
}
