.image {
  width: 100%;
  height: auto;
  margin: 0rem 0rem 1rem 0rem;
}

.image_mobile {
  display: none;
}

.header_container {
  position: absolute;
  align-self: flex-start;
  text-align: left;
  top: 240px;
  margin-left: 6rem;
  color: var(--blush);
}

.title,
.sub_title {
  color: var(--blush);
  font-family: var(--summer-of-love-font);
  font-size: 90px;
  font-weight: normal;
  word-spacing: 0.1em;
}

.title {
  text-shadow: 5px 0px 5px #030303;
}

.sub_title {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 38px;
  margin-bottom: 0rem;
}

.title,
.copy,
.intro {
  width: 500px;
}

.copy {
    margin-top: 2rem;
}

.intro {
  margin-bottom: 1rem;
}

.address_container {
  margin-bottom: 2rem;
}

@media (max-width: 1300px) {
  .header_container {
    top: 270px;
  }
}

@media (max-width: 667px) {
  .title,
  .copy,
  .intro {
    width: 100%;
  }
  .intro,
  .title {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .image {
    display: none;
  }
  .image_mobile {
    position: initial;
    display: block;
    margin-top: 8.5rem;
    width: 100%;
    height: auto;
  }
  .header_container {
    top: 98px;
    text-align: left;
    width: 100%;
    z-index: 90;
    text-align: left;

    margin: 0rem;
    color: var(--blush);
  }
  .intro {
    font-weight: 600;
    color: var(--maroon);
    margin-bottom: 0.5rem;
  }
  .title {
    margin-bottom: 1rem;
    text-shadow: none;
  }
  .title,
  .sub_title {
    color: var(--maroon);
    font-size: 64px;
  }
  .sub_title {
    color: var(--blush);
    font-size: 26px;
    margin-bottom: 0rem;
  }
  .address_container,
  .details_section {
    margin: 0rem 0.5rem 1rem 0.5rem;
  }
  .copy {
    color: var(--blush);
    width: auto;
    margin-top: 1rem;
  }
  .details_section {
    position: absolute;
    top: 640px;
  }
  @media (prefers-color-scheme: dark) {
    .copy {
      color: #ecd5cd;
    }
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .title,
  .sub_title {
    color: #ecd5cd;
  }
}

[data-theme="dark"] :is(.title, .sub_title, .copy) {
  color: #ecd5cd;
}
