.icon {
  width: 164px;
  height: auto;
  margin-left: 4rem;
  margin-right: 2rem;
}
.heart {
  height: 120px;
  width: auto;
  margin-left: 2rem;
}
.icon_light, .heart_light {
    display: block;
}

.copy {
    padding-bottom: .5rem;
}

/* Hide dark theme icon by default */
.icon_dark, .heart_dark {
  display: none;
}

[data-theme="dark"] :is(.icon_light, .heart_light) {
  display: none;
}

[data-theme="dark"] :is(.icon_dark, .heart_dark) {
  display: block;
}

@media (prefers-color-scheme: dark) {
.icon_light, .heart_light {
    display: none;
}
.icon_dark, .heart_dark {
    display: block;
}
}

@media (max-width: 667px) {
  .icon {
    margin-left: 1rem;
    width: 100px;
    height: auto;
  }
  .heart {
  height: 78px;
  width: auto;
  margin-left: 2rem;
  margin-right: 1rem;
}
  .copy {
    font-size: 10px;
    padding-bottom: .2rem;
  }
}
