.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  z-index: 1000;
}

.success_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--blush);
}

.heading {
    margin-bottom: 1rem;
}

.form_photo {
    width: 560px;
    height: auto;
    margin-bottom: 1rem;
}
.message {
    margin-bottom: 1rem;
}

@media (max-width: 667px) {
    .success_modal {
        width: 100%;
        padding: 1.5rem 0rem 1.5rem 0rem;
    }
    .form_photo {
        width: 100%;
    }
    .message {
        width: 90%;
    }
}