/* modal styling */

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  z-index: 100;
}

/* form modal */

.success_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--blush);
}

.heading {
    margin-bottom: 1rem;
}

.form_photo {
    width: 560px;
    height: auto;
    margin-bottom: 1rem;
}
.message {
    margin-bottom: 1rem;
}