.heading {
  font-family: var(--summer-of-love-font);
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.3em;
}
.photo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 660px;
  width: 1000px;
}

.single_photo_layout,
.double_photo_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.double_photo_layout {
  gap: 2rem;
}

.photo_vertical {
  width: calc(50% - 1rem);
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.photo_horizontal {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.gallery_button {
  color: var(--maroon);
  font-size: 50px;
  cursor: pointer;
  background-color: transparent;
}

.mobile_gallery {
  display: none;
}

@media (max-width: 667px) {
  .photo_container {
    display: none;
  }
  .mobile_gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .mobile_photo_layout {
    margin: 0rem 0.2rem;
  }
  .mobile_photo {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.4s ease-out, transform 0.8s ease-out;
    pointer-events: none;
  }

  .mobile_photo.visible {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1.5s ease-in, transform 1s ease-in;
    pointer-events: auto;
  }
  .button_container {
    width: 90%;
  }
}
