.header_container {
  position: absolute;
  display: flex;
  flex-direction: row;
  color: var(--blush);
  text-align: left;
  margin-top: 3rem;
}

.copy_container {
  width: 680px;
}

.heading {
  font-family: var(--summer-of-love-font);
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
}

.kern {
  letter-spacing: -0.03em;
}

.copy,
.copy_tag {
  margin-bottom: 2rem;;
} 

.mobile_gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
}

.mobile_photo_layout {
  border: 2px solid #9b7d72;
  margin: 1rem;
}
.mobile_photo_layout:hover {
  border: 2px solid var(--blush);
}

.mobile_photo {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.header_photo {
  width: 100%;
  height: auto;
}
.photo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 660px;
  width: 1000px;
}

.single_photo_layout,
.double_photo_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.double_photo_layout {
  gap: 2rem;
}

.photo_vertical {
  width: calc(50% - 1rem);
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.photo_horizontal {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.gallery_button {
  color: var(--maroon);
  font-size: 50px;
  cursor: pointer;
  background-color: transparent;
}

[data-theme="dark"] .mobile_photo_layout:hover {
  border: 2px solid #ecd5cd;
}

@media (prefers-color-scheme: dark) {
  .mobile_photo_layout:hover {
    border: 2px solid #ecd5cd;
  }
  .heading, .copy, .tap {
    color: #ecd5cd
  }
}

@media (min-width: 1600px) {
  .header_container {
    margin-top: 10rem;
  }
}

@media (max-width: 1300px) {
  .header_photo {
    display: none;
  }
  .header_container {
    position: relative;
    flex-direction: column;
    text-align: center;
    top: -20px;
    right: 0px;
    width: 100%;
    margin-top: 0rem;
  }
  .copy_container {
    text-align: left;
    width: auto;
  }
   .heading {
    text-align: center;
    font-size: 76px;
  }
  .heading,
  .copy {
    color: var(--maroon);
  }
  .copy,
  .copy_tag {
    color: var(--maroon);
    margin: 0rem 1rem 2rem 1rem;
  }
  .tap {
    display: none;
  }
  .photo_container {
    display: none;
  }
  .mobile_gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 0px;
    right: 0px;
  }
  .mobile_photo_layout {
    margin: 0rem 0.2rem;
    border: none;
  }
  .mobile_photo_layout:hover{
    border: none;
  }
  .mobile_photo {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.4s ease-out, transform 0.8s ease-out;
    pointer-events: none;
    cursor: default;
    filter: blur(0px);
  }

  .mobile_photo:hover {
    border: none;
  }

  .mobile_photo.visible {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1.5s ease-in, transform 1s ease-in;
  }
  .button_container {
    width: 90%;
  }
  [data-theme="dark"] .mobile_photo_layout:hover {
  border: none;
}
}

[data-theme="dark"] :is(.heading, .copy, .tap) {
  color: #ecd5cd;
}
