.heading {
  font-family: var(--summer-of-love-font);
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.3em;
}
.photo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 660px;
  width: 1000px;
}

.single_photo_layout,
.double_photo_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.double_photo_layout {
  gap: 2rem;
}

.photo_vertical {
  width: calc(50% - 1rem);
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.photo_horizontal {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.gallery_button {
  color: var(--maroon);
  font-size: 50px;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 667px) {
  /* we need to create a pop up modal 
  for the photos on mobile */
  .photo_container {
    width: 100%;
  }
  .photo {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
  .button_container {
    width: 90%;
  }
}
