.image {
  width: 100%;
  height: auto;
  margin: 0rem 0rem 1rem 0rem;
}

.image_mobile {
  display: none;
}

.header_container {
  position: absolute;
  text-align: left;
  top: 120px;
  color: var(--blush);
}
.title,
.sub_title {
  color: var(--blush);
  font-family: var(--summer-of-love-font);
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
}

.kern {
  letter-spacing: -0.04em;
}
.kern_two {
  letter-spacing: -0.02em;
}

.sub_title {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 38px;
  margin-bottom: 1rem;
}

.copy {
  width: 500px;
}

.form_section {
  display: flex;
  margin-top: 2rem;
}

.form_photo {
  width: auto;
  height: 640px;
}

@media (max-width: 1300px) {
  .header_container {
    top: 270px;
  }
}

@media (max-width: 667px) {
  .image {
    display: none;
  }
  .image_mobile {
    position: initial;
    display: block;
    margin-top: 8.5rem;
    width: 100%;
    height: auto;
  }
  .header_container {
    top: -20px;
    text-align: center;
    width: 100%;
    z-index: 90;
  }
  .title {
    margin-bottom: 1rem;
  }
  .title,
  .sub_title {
    color: var(--maroon);
    font-size: 76px;
  }
  .sub_title {
    text-align: left;
    color: var(--blush);
    font-size: 30px;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .copy {
    text-align: left;
    color: var(--blush);
    width: auto;
    margin: 0rem 1rem 2rem 1rem;
  }
  .form_section {
    justify-content: center;
  }
  .form_photo {
    display: none;
  }
  
  @media (prefers-color-scheme: dark) {
    .copy {
      color: #ecd5cd;
    }
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .title,
  .sub_title,
  .copy {
    color: #ecd5cd;
  }
}

[data-theme="dark"] :is(.title, .sub_title, .copy) {
  color: #ecd5cd;
}
