.image {
    width: 1000px;
    height: auto;
    border-radius: 10px;
    margin: 0rem 0rem 1rem 0rem;
}

.image_mobile {
  display: none;
}

.header {
    color: var(--blush);
    position: relative;
    top: 170px;
    right: 20px;
}

.title {
    font-size: 68px;
}

.sub_title {
    font-size: 38px;
}

@media (max-width: 600px) {
  .image {
    display: none;
  }
  .image_mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .header {
    color: var(--maroon);
    text-align: center;
    top: 0px;
    right: 0px;
    margin: 3rem 0rem 2rem 0rem;
  }
  .title {
    font-size: 50px;
  }
  .sub_title {
    font-size:30px;;
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
.header {
  color: #ecd5cd
}
}

[data-theme="dark"] .header {
  color: #ecd5cd
}