.image {
    width: 1000px;
    height: auto;
    border-radius: 10px;
    margin: 0rem 0rem 1rem 0rem;
}

.image_mobile {
  display: none;
}

.title, .sub_title {
  color: var(--blush);
    position: absolute;
    font-size: 68px;
    top: 300px;
}

.sub_title {
    font-size: 38px;
    top: 400px;
}

@media (max-width: 667px) {
  .image {
    display: none;
  }
  .image_mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .header {
    color: var(--maroon);
    text-align: center;
    top: 0px;
    right: 0px;
    margin: 3rem 0rem 2rem 0rem;
  }
  .title, .sub_title {
    position: relative;
    color: var(--maroon);
    font-size: 50px;
    top: 0px;
    right: 0px;
  }
  .sub_title {
    font-size: 30px;
    margin-bottom: 1rem;
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
.header {
  color: #ecd5cd
}
}

[data-theme="dark"] .header {
  color: #ecd5cd
}