.image {
  width: 100%;
  height: auto;
  margin: 0rem 0rem 1rem 0rem;
}

.image_mobile {
  display: none;
}

.header_container {
  position: absolute;
  text-align: left;
  top: 300px;
}
.title,
.sub_title {
  color: var(--blush);
  font-family: var(--summer-of-love-font);
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
}

.sub_title {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 38px;
}

@media (max-width: 1300px) {
  .header_container {
    top: 270px;
  }
}

@media (max-width: 667px) {
  .image {
    display: none;
  }
  .image_mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .header_container {
    position: relative;
    top: 0px;
    text-align: center;
  }
  .title,
  .sub_title {
    color: var(--maroon);
    font-size: 76px;
  }
  .sub_title {
    font-size: 30px;
    margin-bottom: 1rem;
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .title,
  .sub_title {
    color: #ecd5cd;
  }
}

[data-theme="dark"] .title {
  color: #ecd5cd;
}

[data-theme="dark"] .sub_title {
  color: #ecd5cd;
}
