.test {
  font-size: 16px;
}

.menu_icon {
  width: 100px;
  height: auto;
}

#hamMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--olive);
  width: 45.5px;
  height: 45.5px;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}

.menuButtonBurger {
  position: relative;
  width: 25px;
  height: 3px;
  background: var(--blush);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: block;
  cursor: pointer;
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--blush);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  top: 10px;
  left: 0px;
}

.menuButtonBurger::after {
  top: -10px;
}

.menuButtonBurger::before {
  transform: translateY(-16px);
}

.menuButtonBurger::after {
  transform: translateY(16px);
}

/* animation */

.menuButtonBurger.open {
  background: transparent;
}

.menuButtonBurger.open::before {
  transform: rotate(-45deg) translate(0, 0);
  top: 0;
}

.menuButtonBurger.open::after {
  transform: rotate(45deg) translate(0, 0);
  top: 0;
}

.nav_link {
  font-size: 20px;
  padding: 1.5rem;
  margin: .5rem;
}
