/* modal styling */

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 77, 100, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1001;
}

.modalContent {
  font-family: "IntroRust", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 1.5rem;
  border-radius: 8px;
  background: var(--background);
}

.modalSection {
  display: flex;
  flex-direction: column;
}

.modalSectionTop {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  color: var(--gbBlue);
  font-size: 40px;
  border-radius: 5px;
  background-color: var(--gbGrayButton);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .modal {
    background: rgba(3, 5, 6, 0.7);
  }
  .modalContent {
    background: var(--darkModeSuggestionList);
  }
}

@media (max-width: 1300px) {
  .modalContent {
    width: 90%;
  }
  .modalContent {
    flex-direction: column;
    padding: 1rem;
  }
  @media (prefers-color-scheme: dark) {
    .formButton {
      color: var(--foreground);
       background-color: #ca5c3d;;
    }
  }
}