/* modal styling */

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 77, 100, 0.8);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.photo_container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 85vh;
}

.closeButton {
  font-size: 40px;
  border-radius: 5px;
  cursor: pointer;
  align-self: end;
}
.button_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
}
.gallery_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: var(--blush);
  font-size: 60px;
 
  cursor: pointer;
}

.photo {
  max-width: 100%;
  max-height: 85vh;
  width: auto;
  height: auto;
}

.photo_horizontal {
  max-width: 90%;
  max-height: 85vh;
  width: auto;
  height: auto;
}

.photo_vertical {
  max-width: 100%;
  max-height: 85vh;
  width: auto;
  height: auto;
}


@media (prefers-color-scheme: dark) {
  .modal {
    background: rgba(3, 5, 6, 0.7);
  }
  .modalContent {
    background: var(--darkModeSuggestionList);
  }
}

@media (max-width: 1300px) {
  .modalContent {
    width: 90%;
  }
  .modalContent {
    flex-direction: column;
    padding: 1rem;
  }
  @media (prefers-color-scheme: dark) {
    .formButton {
      color: var(--foreground);
       background-color: #ca5c3d;;
    }
  }
}