/* modal styling */

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 77, 100, 0.3);
  backdrop-filter: blur(30px);
  z-index: 100;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 2.5rem;
}

.photo {
  height: 100%;
  width: auto;
  border: 6px solid #ecd5cd;;
}

.close_container {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40px;
  height: 80px;
  cursor: pointer;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  align-self: flex-start;
  background-color: #ecd5cd;
  right: 120px;
}

.closeButton {
  position: relative;
  font-size: 40px;
  right: 5px;
}

.gallery_button {
  background: none;
  color: var(--blush);
  font-size: 40px;
  cursor: pointer;
}

.indicator_section {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 400px;
}

.indicators {
display: flex;
justify-content: space-between;
width: 100%;
}

.indicator.active {
  color: #ecd5cd;
}

@media (max-width: 1300px) {
  .modalContent {
    width: 90%;
  }
  .modalContent {
    flex-direction: column;
    padding: 1rem;
  }
  @media (prefers-color-scheme: dark) {
    .formButton {
      color: var(--foreground);
       background-color: #ca5c3d;;
    }
  }
}