.nav_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0;
}

.nav_link {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 28px;
  color: var(--background);
  flex: 1;
  margin-top: 1rem;
  padding: 4rem 0rem;
  padding-bottom: 5rem;
  text-align: center;
  height: 125px;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  min-width: 150px; /* prevents being too narrow on small screens */
  max-width: 250px; /* caps growth on large screens */
  cursor: pointer;
  background: #ddc7d2;
  background: var(--rose);
  transition: background 0.2s ease-in-out;
}

.link_container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
}

.menu_icon, .menu_icon_dark {
  min-width: 150px;
  max-width: 250px;
  flex: 1;
  height: 125px;
  margin-top: 1rem;
  padding: 4rem 0rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  text-align: center;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  cursor: pointer;
  background-color: var(--rose);
  transition: background 0.2s ease-in-out;
}

.icon {
  position: relative;
  width: 140px;
  top: -40px;
}

/* Hide dark theme icon by default */
.icon_dark {
  display: none;
}

.icon_light {
  display: block;
  left: 48px;
}

.nav_link:hover,
.menu_icon:hover,
.active_link {
  color: var(--forground);
  background: var(--blush);
  border-bottom: none;
}

.mobile_nav {
  display: none;
}

.menu {
  display: none;
}

/* mobile breakpoint */
@media (max-width: 1300px) {
  .nav_menu {
    display: none;
  }
  .mobile_nav {
    position: fixed;
    background-color: var(--blush);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    /*margin: 0rem 1rem 0rem 1rem;*/
    z-index: 100;
  }

  /* mobile menu */

  .menu {
    font-family: var(--main-font);
    font-weight: 600;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    background-color: var(--background);
  }

  .menu :last-child {
    border-bottom: none;
  }

  .menu.active {
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    height: 64vh;
    z-index: 1000;
    margin-top: 6rem;
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .nav_link,
  .menu_icon {
    color: #ecd5cd;
    background-color: #3b3840;
  }
  .nav_link:hover,
  .menu_icon:hover,
  .active_link  {
    background: #0a0a0a;
  }
  .icon_light {
    display: none;
  }
  
  .icon_dark {
    display: block;
    left: 48px;
  }
 
}

[data-theme="dark"] :is(.nav_link, .menu_icon) {
  color: #ecd5cd;
  background-color: #3b3840;
}

[data-theme="dark"] :is(.nav_link:hover, .menu_icon:hover, .active_link) {
  background: #0a0a0a;
}

[data-theme="dark"] .icon_light {
  display: none;
}

[data-theme="dark"] .icon_dark {
  display: block;
  left: 48px;
}

