.header_container {
  align-self: flex-start;
  text-align: left;
  padding-left: 4rem;
  margin-top: 3rem;
}
.title {
  font-family: var(--summer-of-love-font);
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
}

.sub_title {
  font-weight: 600;
}

.story_card_container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 500px;
  margin-left: 28rem;
}

.story_card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.89);
  padding: 1rem;
  margin: 14rem 0rem;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.4s ease-out, transform 0.8s ease-out;
  z-index: 100;
}

.story_card.visible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1.5s ease-in, transform 1s ease-in;
}

.scroll_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.scroll_icon {
  font-size: 30px;
}

/*styles each card independantly*/
.card_1 {
  margin-bottom: 11rem;
  right: 140px;
}

.card_2 {
  margin-bottom: 36rem;
  right: -140px;
  width: 300px;
}

.card_3 {
  margin-bottom: 48rem;
  right: 500px;
}

.card_4 {
  margin-bottom: 26rem;
  right: 60px;
}

.card_5 {
  margin-bottom: 40rem;
  right: 340px;
  width: 300px;
}

.card_6 {
  margin-bottom: 16rem;
  right: -10px;
}

.card_7 {
  margin-bottom: 74rem;
  right: 480px;
}

.card_8 {
  margin-bottom: 0rem;
  right: 300px;
  width: 680px;
}

.date {
  font-weight: 600;
  padding-bottom: 1rem;
}

.our_story_bg {
  margin-top: 6rem;
  position: absolute;
  width: 1000px;
  height: 8500px;
  z-index: 1;
  pointer-events: none;
  display: block;
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  .story_card {
    background-color:#3b3840;
  }
}

[data-theme="dark"] .story_card {
  background-color:#3b3840;
}

@media (max-width: 667px) {
  .header_container {
    padding: 0rem 1rem 0rem 1rem;
    margin-top: 0rem;
  }
  .title {
    font-family: var(--summer-of-love-font);
    align-self: center;
    font-size: 76px;
    padding-left: 0rem;
    margin-top: 0rem;
  }
  .our_story_bg {
    margin-top: 10rem;
    width: 100%;
    height: auto;
    display: none;
  }
  .story_card_container {
    width: 90%;
    margin-left: 0rem;
    margin-top: 8rem;
  }
  .story_card {
    margin: 0rem;
    font-size: 14px;
    z-index: 90;
  }
  .card_1 {
    margin-bottom: 14rem;
    right: 0px;
  }

  .card_2 {
    margin-bottom: 7rem;
    right: 0px;
    width: 100%;
  }

  .card_3 {
    margin-bottom: 16rem;
    right: 0px;
  }

  .card_4 {
    margin-bottom: 7rem;
    right: 0px;
  }

  .card_5 {
    margin-bottom: 12rem;
    right: 0px;
    width: 100%;
  }

  .card_6 {
    margin-bottom: 2rem;
    right: 0px;
  }

  .card_7 {
    margin-bottom: 4rem;
    right: 0px;
  }

  .card_8 {
    margin-bottom: 0rem;
    right: 0px;
    width: 100%;
  }
}
