.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.loader {
  display: flex;
  text-align: left;
  font-weight: 600;
}

.arrival_message {
  font-family: var(--summer-of-love-font);
  font-weight: normal;
  font-size: 100px;
  width: 700px;
}

.header_container {
  align-self: flex-start;
  text-align: left;
  padding-left: 6rem;
  margin-top: 3rem;
}
.title {
  font-family: var(--summer-of-love-font);
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
  width: 460px;
}

.train_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.train_icon_light {
  margin-right: 1rem;
}

.train_icon_dark {
  display: none;
}

.sub_title {
  font-weight: 600;
  width: 360px;
}

.story_card_container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 500px;
  margin-left: 28rem;
}

.story_card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.89);
  padding: 1rem;
  margin-top: 5rem;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.4s ease-out, transform 0.8s ease-out;
  z-index: 100;
}

.date {
  font-weight: 600;
  padding-bottom: 1rem;
}

.next_stop_date {
  display: flex;
  align-items: center;
}

.next_date {
  margin-right: 0.5rem;
}

.last_stop_section {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  border-top: 1px solid var(--maroon);
}

.last_stop,
.date_two {
  font-weight: 600;
  margin-right: 0.5rem;
}

.story_card.visible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1.5s ease-in, transform 1s ease-in;
}

.scroll_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  border-top: 1px solid var(--maroon);
  padding-top: 0.5rem;
}

.scroll_icon {
  font-size: 30px;
}

/*styles each card independantly*/
.card_1 {
  margin-bottom: 18.5rem;
  right: 140px;
}

.card_2 {
  margin-bottom: 46rem;
  right: -140px;
  width: 300px;
}

.card_3 {
  margin-bottom: 53.5rem;
  right: 500px;
}

.card_4 {
  margin-bottom: 36rem;
  right: 60px;
}

.card_5 {
  margin-bottom: 48rem;
  right: 340px;
  width: 300px;
}

.card_6 {
  margin-bottom: 26rem;
  right: -10px;
}

.card_7 {
  margin-bottom: 80rem;
  right: 480px;
}

.card_8 {
  margin-bottom: 0rem;
  right: 300px;
  width: 680px;
}

.our_story_bg {
  margin-top: 6rem;
  position: absolute;
  width: 1000px;
  height: 8500px;
  z-index: 1;
  pointer-events: none;
  display: block;
  object-fit: contain;
}

.our_story_bg_mobile,
.our_story_bg_dark,
.our_story_icons_mobile,
.our_story_icons_mobile_dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .train_icon_light {
    display: none;
  }
  .train_icon_dark {
    display: block;
    margin-right: 1rem;
  }
  .story_card {
    background-color: #3b3840;
  }
  .our_story_bg {
    display: none;
  }
  .our_story_bg_dark {
    margin-top: 6rem;
    position: absolute;
    width: 1000px;
    height: 8500px;
    z-index: 1;
    pointer-events: none;
    display: block;
    object-fit: contain;
  }
}

[data-theme="dark"] .story_card {
  background-color: #3b3840;
}

[data-theme="dark"] .train_icon_dark {
  display: block;
  margin-right: 1rem;
}

[data-theme="dark"] :is(.our_story_bg, .train_icon_light) {
  display: none;
}

[data-theme="dark"] .our_story_bg_dark {
  margin-top: 6rem;
  position: absolute;
  width: 1000px;
  height: 8500px;
  z-index: 1;
  pointer-events: none;
  display: block;
  object-fit: contain;
}

@media (min-width: 1540px) {
  .header_container {
    padding-left: 36rem;
  }
}

@media (max-width: 667px) {
  .loader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin: 0rem 1rem 0rem 1rem;
  }

  .arrival_message {
    font-family: var(--summer-of-love-font);
    font-weight: normal;
    font-size: 58px;
    margin-top: 1rem;
    width: 100%;
  }
  .header_container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0rem;
  }
  .title {
    font-family: var(--summer-of-love-font);
    align-self: center;
    font-size: 76px;
  }
  .header_container,
  .title,
  .sub_title,
  .story_card_container {
    width: 100%;
  }
  .our_story_bg,
  .our_story_bg_dark {
    display: none;
  }
  .our_story_bg_mobile {
    margin-top: 17rem;
    position: absolute;
    height: auto;
    width: 123%;
    display: block;
  }
  .story_card_container {
    margin-left: 0rem;
    margin-top: 8rem;
  }
  .story_card {
    margin: 0rem;
    font-size: 14px;
    z-index: 90;
    border-radius: 0px;
  }
  .date_section {
    overflow: auto;
  }
  .date {
    display: inline; /* Makes the date stay on the same line */
    padding-bottom: 0rem;
    margin-right: 8px;
  }
  .text {
    margin-top: 1rem;
  }
  .our_story_icons_mobile {
    display: block;
    float: right;
    margin-left: 1rem;
  }
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6,
  .card_7,
  .card_8 {
    margin-bottom: 7rem;
    right: 0px;
    width: 100%;
  }
  .card_2 .our_story_icons_mobile {
    width: 170px;
    height: auto;
  }
  .card_3 .our_story_icons_mobile {
    width: 140px;
    height: auto;
  }
  .card_4 .our_story_icons_mobile {
    width: 140px;
    height: auto;
  }
  .card_5 .our_story_icons_mobile {
    width: 160px;
    height: auto;
  }
  .card_6 .our_story_icons_mobile {
    width: 160px;
    height: auto;
  }
  .card_7 .our_story_icons_mobile {
    width: 150px;
    height: auto;
  }
  .card_8 .our_story_icons_mobile {
    width: 160px;
    height: auto;
  }
  .card_8 {
    margin-bottom: 0rem;
  }
  [data-theme="dark"] :is(.our_story_bg_dark, .our_story_icons_mobile) {
    display: none;
  }
  [data-theme="dark"] .our_story_icons_mobile_dark {
    display: block;
    float: right;
    margin-left: 1rem;
  }
  [data-theme="dark"] .card_2 .our_story_icons_mobile_dark {
    width: 170px;
    height: auto;
  }
  [data-theme="dark"] .card_3 .our_story_icons_mobile_dark,
  [data-theme="dark"] .card_4 .our_story_icons_mobile_dark {
    width: 140px;
    height: auto;
  }

  [data-theme="dark"] .card_5 .our_story_icons_mobile_dark,
  [data-theme="dark"] .card_8 .our_story_icons_mobile_dark {
    width: 160px;
    height: auto;
  }

  [data-theme="dark"] .card_7 .our_story_icons_mobile_dark {
    width: 150px;
    height: auto;
  }
  @media (prefers-color-scheme: dark) {
    .our_story_bg_dark,
    .our_story_icons_mobile {
      display: none;
    }
    .our_story_icons_mobile_dark {
      display: block;
      float: right;
      margin-left: 1rem;
    }
    .card_2 .our_story_icons_mobile_dark {
      width: 170px;
      height: auto;
    }
    .card_3 .our_story_icons_mobile_dark {
      width: 140px;
      height: auto;
    }
    .card_4 .our_story_icons_mobile_dark {
      width: 140px;
      height: auto;
    }
    .card_5 .our_story_icons_mobile_dark {
      width: 160px;
      height: auto;
    }
    .card_6 .our_story_icons_mobile_dark {
      width: 160px;
      height: auto;
    }
    .card_7 .our_story_icons_mobile_dark {
      width: 150px;
      height: auto;
    }
    .card_8 .our_story_icons_mobile_dark {
      width: 160px;
      height: auto;
    }
  }
}
