.title {
  font-family: var(--summer-of-love-font);
  align-self: flex-start;
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
  padding-left: 4rem;
  margin-top: 3rem;
}

.story_card_container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 500px;
  margin-left: 28rem;
}


.story_card {
  position: relative;
  top: 360px;
  background-color: rgba(255, 255, 255, .89);
  padding: 1rem;
  margin: 2rem 0rem 34rem 0rem;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.4s ease-out, transform 0.8s ease-out;
  z-index: 100;
}

.story_card.visible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1.5s ease-in, transform 1s ease-in;
}

/*styles each card independantly*/
.card_1 {
  top: 400px;
}

.date {
  font-weight: 600;
  padding-bottom: 1rem;
}

.next_stop {
  margin-top: 2rem;
}

.our_story_bg {
  position: absolute;
  margin-top: 5rem;;
  width: 1000px;
  height: auto;
}

@media (max-width: 667px) {
.title {
  font-family: var(--summer-of-love-font);
  align-self: center;
  font-size: 76px;
  padding-left: 0rem;
  margin-top: 0rem;
}
.story_card_container {
  width: 90%;
  margin-left: 0rem;
}
.our_story_bg {
  position: absolute;
  margin-top: 5rem;;
  width: 100%;
  height: auto;
}
}
