.title {
  font-family: var(--summer-of-love-font);
  align-self: flex-start;
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
  padding-left: 4rem;
  margin-top: 3rem;
}

.story_card_container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 500px;
  margin-left: 28rem;
}

.story_card {
  position: relative;
  /*top: 360px;*/
  background-color: rgba(255, 255, 255, 0.89);
  padding: 1rem;
  margin: 16rem 0rem;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.4s ease-out, transform 0.8s ease-out;
  z-index: 100;
}

.story_card.visible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1.5s ease-in, transform 1s ease-in;
}

/*styles each card independantly*/
.card_1 {
  margin-bottom: 17rem;
  right: 140px;
}

.card_2 {
  margin-bottom: 32rem;
  right: -160px;
  width: 300px;
}

.card_3 {
  margin-bottom: 34rem;
  right: 500px;
}

.card_4 {
  margin-bottom: 34rem;
  right: 30px;
}

.card_5 {
  margin-bottom: 30rem;
  right: 340px;
  width: 300px;
}

.card_6 {
  margin-bottom: 20rem;
  right: -10px;
}

.card_7 {
  margin-bottom: 74rem;
  right: 480px;
}

.card_8 {
  margin-bottom: 0rem;
  right: 300px;
  width: 680px;
}

.date {
  font-weight: 600;
  padding-bottom: 1rem;
}

.next_stop {
  margin-top: 2rem;
}

.our_story_bg {
  margin-top: 6rem;
  position: absolute;
  width: 1000px;
  height: 8500px;
  z-index: 1;
  pointer-events: none;
  display: block;
  object-fit: contain;
}

@media (max-width: 667px) {
  .title {
    font-family: var(--summer-of-love-font);
    align-self: center;
    font-size: 76px;
    padding-left: 0rem;
    margin-top: 0rem;
  }
  .story_card_container {
    width: 90%;
    margin-left: 0rem;
  }
  .our_story_bg {
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    height: auto;
  }
}
