.title {
  font-family: var(--summer-of-love-font);
  align-self: flex-start;
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
  padding-left: 4rem;
  margin-top: 3rem;
}

.story_card_container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.story_card {
  width: 500px;
  margin: 2rem 0rem 16rem 0rem;
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.4s ease-out, transform 0.8s ease-out;
}

.story_card.visible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1.5s ease-in, transform 1s ease-in;
}

.date {
  font-weight: 600;
  padding-bottom: 1rem;
}
