.contact_form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 240px;
  position: absolute;
  color: var(--blush);
  width: 590px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.page_name {
  font-family: var(--summer-of-love-font);
  font-size: 100px;
  font-weight: normal;
  word-spacing: 0.1em;
}
.header {
  margin: 2rem 0rem 2rem 0rem;
  width: 400px;
}

.label {
margin-bottom: 1rem;
}

.name,
.send {
  font-size: 20px;
  display: flex;
  padding: 0.5rem;
  margin-top: 0.2rem;
  border-radius: 5px;
  border: 1px solid var(--foreground);
}

.name {
  margin-bottom: 3rem;;
  width: 400px;
}

.radio_group {
  margin-bottom: 3rem;
}

.radio_label {
  margin-right: 2rem;
}

.radio_button {
  margin-right: .5rem;
}

.send {
  text-align: center;
  background-color: var(--maroon);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 600;
  color: var(--blush);
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.send:hover {
  color: var(--foreground);
  background-color: var(--rose);
}

.required_error {
  padding-bottom: 0.5rem;
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .send:hover {
    color: var(--background);
    background-color: var(--button_color_dm);
  }
  .name,
  .email,
  .message {
    color: var(--foreground);
    background-color: #3b3840;
  }
}

[data-theme="dark"] :is(.name, .email, .message) {
  color: var(--foreground);
  background-color: #3b3840;
}

[data-theme="dark"] .send {
  color: var(--background);
  background-color: var(--button_color_dm);
}

@media (max-width: 667px) and (hover: none) {
  .contact_form_container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .form {
    width: 100%;
  }
  .header {
    text-align: center;
  }

  .name,
  .email,
  .message,
  .send {
    width: 100%;
  }
  .send {
    text-align: center;
  }
  .send:hover {
    color: var(--blush);
    background-color: var(--maroon);
  }
  @media (prefers-color-scheme: dark) {
    .copy {
      color: #ecd5cd;
    }
  }
}
