.image {
  width: 100%;
  height: auto;
}

.image_mobile {
  display: none;
}

.page_name {
  display: none;
}

.header_container {
  text-align: left;
  margin-right: 8rem;
}

.content_wrapper {
  display: contents;
}

@media (max-width: 667px) and (hover: none) {
  .page_body {
    background-color: black;
    padding-bottom: 2rem;
  }
  .page_name {
    display: block;
    font-family: var(--summer-of-love-font);
    font-size: 80px;
    font-weight: normal;
    word-spacing: 0.1em;
    background-color: var(--blush);
    margin-right: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  .content_wrapper {
    display: block;
    position: relative;
  }

  .header_container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0rem;
  }

  .image {
    display: none;
  }

  .image_mobile {
    position: absolute;
    top: 0;
    display: block;
    margin-top: 0rem;
    padding-bottom: 0rem;
    background-color: black;
    height: auto;
    width: 100%;
    mask-image: linear-gradient(to top, transparent, black 30px);
  }
}
