.image {
  width: 100%;
  height: auto;
}

.image_mobile {
  display: none;
}

.header_container {
  text-align: left;
  margin-right: 8rem;
}

@media (max-width: 667px) and (hover: none) {
  .page_body {
    background-color: black;
    padding-bottom: 2rem;
  }

   .content_wrapper {
    position: relative;
  }

  .header_container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0rem;
  }

  .image {
    display: none;
  }

  .image_mobile {
    position: absolute;
    top: 140;
    display: block;
    margin-top: 0rem;
    padding-bottom: 0rem;
    background-color: black;
    height: auto;
    width: 100%;
    mask-image: linear-gradient(to top, transparent, black 30px);
  }
}
