.image {
  width: 100vw;
  height: auto;
  margin: 0rem 0rem 1rem 0rem;
}

.header_container {
  position: absolute;
  align-self: flex-start;
  text-align: left;
  margin-top: 1rem;
  width: 540px;
  margin-left: 5rem;
  color: var(--blush);
  padding: 1rem;
  background-color: rgba(24, 23, 23, 0.8);
  border-radius: 25px;
}

.intro {
  margin-bottom: 1rem;
}

.title {
  color: var(--blush);
  font-family: var(--summer-of-love-font);
  font-size: 80px;
  font-weight: normal;
  word-spacing: 0.1em;
  text-shadow: 5px 0px 5px #030303;
  margin-bottom: 1rem;
}

.kern {
  letter-spacing: -0.04em;
}
.kern_two {
  letter-spacing: -0.02em;
}

.schedule > p {
  margin-bottom: .5rem;
}

.date {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 1rem;
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .title,
  .date {
    color: #ecd5cd;
  }
}

@media (min-width: 1540px) {
  .header_container {
    margin-left: 28rem;
  }
}

@media (max-width: 667px) {
  .title,
  .intro,
  .image_mobile,
  .header_container {
    width: 100%;
  }
  .image {
    position: initial;
    display: block;
    margin: 9rem 0rem 0rem 0rem;
    padding-bottom: 1rem;
    background-color: black;
    height: auto;
  }
  .header_container {
    top: -20px;
    align-self: left;
    z-index: 90;
    padding: 0rem 0rem 0rem 1rem;
    margin: 0rem 0rem 0rem 0rem;
    background-color: transparent;
  }
  .intro {
    font-size: 22px;
    color: var(--maroon);
    margin-bottom: 0.5rem;
  }
  .title {
    color: var(--maroon);
    font-size: 64px;
    text-shadow: none;
  }
  .date {
    font-weight: 600;
    font-size: 24px;
    margin: 1rem 0rem 1rem 0rem;
  }
  @media (prefers-color-scheme: dark) {
    .copy {
      color: #ecd5cd;
    }
  }
}


